@model List<ListaSupermercado2.Models.Conta>
@{
    ViewBag.Title = "Listar";
}

<h2>Lista de usuarios</h2>

<table>
    <thead>
        <tr>Id</tr>
        <tr>Usuario</tr>
        <tr>Senha</tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.ContaId</td>
                <td>@c.Usuario</td>
                <td>@c.Senha</td>
            </tr>    
        }
    </tbody>
</table>