@model ListaSupermercado2.Models.Produto

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (@Html.BeginForm("Cadastrar", "Produto"))
{
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Nome)
            @Html.TextBoxFor(p => p.Nome, new { @class = "form-control", placeholder = "Produto" })
        </div>
    </div>

  
    <div>
        <input type="submit" value="Cadastrar" class="btn btn-success" />
    </div>
}